<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632267989272-q7i3l060m8s8ur1b26g7f28l5u5qtke9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632267989272-q7i3l060m8s8ur1b26g7f28l5u5qtke9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>632267989272-jtn5bktd3cd64m4sv5p4n1q1727b0nud.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-kbWe4DXYJH7z7-jMcfhNETkpdqpNrDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>632267989272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spacelotsgroup.agroresienue</string>
	<key>PROJECT_ID</key>
	<string>agroresienue</string>
	<key>STORAGE_BUCKET</key>
	<string>agroresienue.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632267989272:ios:f41210c5851c79080abe6d</string>
</dict>
</plist>